$black: #212121;
$blue-grey: #455a64;
$grey: #404040;
$light-blue-grey: #cfd8dc;
$light-grey: #cdcdcd;
$transparent-red: rgba(211, 47, 47, 0.75);
$white: #fff;

%css-grid {
    align-items: center;
    display: flex;
    justify-content: center;
}

::selection {
    background-color:$transparent-red;
    color: $white;
  }

// background colors
body, #navbar {
    background: $white;
}

section:nth-child(even) {
    background: $black;
    background-image: radial-gradient(circle, #434343, #3a3a3a, #323232, #292929, #212121);
}

footer {
    background: $black;
}

// font families
body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Mr De Haviland', cursive;
}

// font sizes
body {
    font-size: 18px;
}

.lead {
    font-size: 2em;
}

.navbar-brand {
    font-size: 1.8em;
}

.nav-link {
    font-size: 0.9em;
}

.blockquote-text {
    font-size: 1.5em;
}

.blockquote-footer {
    font-size: 0.9em;
}

i {
    font-size: 3em;
}

// font weights
.display-4 {
    font-weight: 900;
}

// font colors
body {
    color: $black;
}

.navbar-light .navbar-brand:hover, footer a:hover {
    color: $transparent-red;
}

section:nth-child(even), section:nth-child(even) a {
    color: $white;
}

section a {
    color: $black;
}

section a:hover, section:nth-child(even) a:hover {
    color: $transparent-red;
}

footer, footer a {
    color: $white;
}

// additional font styles
h1, h2, h3, h4, h5, h6, .lead {
    text-shadow: 1px 1px 2px $light-grey;
}

h1, h2, h4, h5, h6 {
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
}

section a {
    box-shadow: inset 0 -0.25em $transparent-red;
    padding-bottom: 6px;
}

.active { 
    box-shadow: inset 0 -0.25em $transparent-red; 
}

em {
    background: $transparent-red;
    font-style: normal;
    text-shadow: none;
}

.blockquote-text::before, .blockquote-text::after {
    content: '"';
}

.skills i {
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

// sections
#welcome-section {
    @extend %css-grid;
    min-height: 100vh; 
    background: url('../img/adult-black-and-white-casual-308248.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    min-width: 100%;
}

section {
    @extend %css-grid;
    min-height: 50vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer {
    @extend %css-grid;
    min-height: 100px; 
    padding-top: 15px;
}

// navbar
#navbar {
    box-shadow: 1px 1px 2px $light-grey;
    position: fixed;
    width: 100%;
    z-index: 500;
}

// button styles
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $transparent-red !important;
}

.btn-primary {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px $grey;
    padding: 15px 45px;
}


.btn-primary:hover {
    box-shadow: 0px 4px 5px $grey;
    background: $transparent-red;
    transform: translateY(-2px);
}

.btn-primary:active {
    background: $transparent-red;
    box-shadow: 0px 1px 2px $grey;    
    transform: translateY(0);
}

// arrow styles
.animated {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: arrow-bob;
    animation-timing-function: ease-in-out;
    position: relative;
}

.arrow {
    border: solid $transparent-red;
    border-width: 0 9px 9px 0;
    display: inline-block;
    height: 30px;
    padding: 3px;
    width: 30px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

// animations
@keyframes arrow-bob {
    from {top: 15px;}
    to {top: 0;}
}

// form styles
.contact-form input, .contact-form textarea {
    border: 3px solid $light-grey;
    border-radius: 2px;
 }

 .contact-form input:focus, .contact-form textarea:focus {
    border: 3px solid $transparent-red;
    box-shadow: 0 0 3px $transparent-red;
    transition: border .25s;
 }