.project-tile { background-color: #CFD8DC; }
.social { background-color: #455A64; }

#welcome-section { 
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh; 
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

section:nth-child(even) {
    background: #455A64;
}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px; 
    padding-top: 15px;
}

.arrow {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: arrow-bob;
    animation-timing-function: ease-in-out;
    color: #455A64;
    font-size: 5em;
    position: relative;
}

@keyframes arrow-bob {
    from {top: 15px;}
    to {top: 0;}
}
